<!doctype html>
<html ng-app="MyApp">
<head>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/rangy/rangy-core.js"></script>
    <script src="markdown.js"></script>
    <script src="wysimd.js"></script>
    <script>
        var MyApp = angular.module('MyApp', ['moof2k.wysimd']);

        MyApp.controller('MyController', function($scope) {
            $scope.mycontrol = {};
            $scope.editable = true;

            // Seed initial content with initial value of textarea
            $scope.mycontent = document.getElementById('mytextarea').value;
        });
    </script>
    <style>
        wysimd {
            font-family: Georgia, serif;
            font-size: 16px;
        }
        wysimd:focus {
            outline: 0 none;
        }
        blockquote {
            border-left: 1px solid gray;
            padding-left: 10px;
            font-style: italic;
        }
        pre {
            margin-left: 40px;
            padding-left: 10px;
            background-color: lightgrey;
        }
    </style>
</head>
<body ng-controller="MyController">
    <table>
    <tr>
        <th>
            <tt>textarea</tt>
        </th>
        <th>
            <tt>wysimd</tt>
        </th>
    </tr>
    <tr>
        <td valign=top>
            <textarea id="mytextarea" style="font-family: monospace;" cols=80 rows=60 ng-model="mycontent">
# What you see is markdown

**WYSIMD** is an [Angular directive](https://docs.angularjs.org/guide/directive) that supplies a rich-text _WYSIWYG_
[contentEditable](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_Editable) backed by an
ngModel storing [Markdown](https://daringfireball.net/projects/markdown/).

## Basic formatting

Try emphasizing text in **bold** or _italics_ by surrounding text in \*\* or \_. Render text in a `monospace font` by surrounding it with \`.

Insert [links](http://google.com) using \[name\]\(url\).

## Lists

Use \* and 1. to specify lists:

* Bullet lists
* Like this
    * and this

or

1. Numbered lists
1. List this
    1. and this

## Blockquote Text

Quote a block of text by indenting it with >

> Quoth the Raven "Nevermore."

## Preformatted Text

Make a block of text preformatted by indenting it 4 spaces.

    function foo() {
        console.log('hello world');
    }


## Tables

| Header 1 | Header 2|
|----------|---------|
| Cell A   | Cell B  |
| Cell C   | Cell D  |

</textarea>
        </td>
        <td valign=top>
            <input type="checkbox" ng-model="editable">Editable</input>
            <select ng-model="format" ng-init="format = 'p'" ng-change="mycontrol.format(format)">
                <option value="p">Paragraph</option>
                <option value="h1">Heading 1</option>
                <option value="h2">Heading 2</option>
                <option value="blockquote">Blockquote</option>
                <option value="pre">Codeblock</option>
            </select>
            <button ng-click="mycontrol.bold()">B</button>
            <button ng-click="mycontrol.italic()">I</button>
            <button ng-click="mycontrol.unordered_list()">UL</button>
            <button ng-click="mycontrol.ordered_list()">OL</button>
            <wysimd ng-model="mycontent" control="mycontrol" contentEditable="{{editable}}"></wysimd>
        </td>
    </tr>
    </table>
</body>
</html>