<!doctype html>
<html ng-app="MyApp">
<head>
	<script src="angular.min.js"></script>
	<script src="rangy-1.2.3/rangy-core.js"></script>
	<script src="markdown.js"></script>
	<script src="wysimd.js"></script>
	<script>
		var MyApp = angular.module('MyApp', ['moof2k.wysimd']);

		MyApp.controller('MyController', function($scope) {
			$scope.mycontrol = {};
			$scope.editable = true;
			$scope.mycontent = "# What you see is markdown\n\n**WYSIMD** is an Angular `directive` that renders a _contentEditable_-capable DIV backed by an ngModel storing Markdown.";
		});
	</script>
	<style>
		wysimd:focus {
		    outline: 0 none;
		}
	</style>
</head>
<body ng-controller="MyController">
	<table>
	<tr>
		<th>
			<tt>textarea</tt>
		</th>
		<th>
			<tt>wysimd</tt>
		</th>
	</tr>
	<tr>
		<td valign=top>
			<textarea style="font-family: monospace;" cols=80 rows=20 ng-model="mycontent"></textarea>
		</td>
		<td valign=top>
			<input type="checkbox" ng-model="editable">Editable</input>
			<button ng-click="mycontrol.bold()">Bold</button>
     		<wysimd ng-model="mycontent" control="mycontrol" contentEditable="{{editable}}"></wysimd>
     	</td>
	</tr>
	</table>
</body>
</html>